html{
    background-color: #f1c40f;
}
body{
    min-width: 600px;
    max-width: 100%;
    margin:auto;
    background-color: white;
}

header > a, nav{
    border:2px solid black; 
}

header > a{
    display: block;
    max-width: 300px;
    float: left;
}

header a img{
    max-width: 100%;
    overflow: hidden;
}
header nav{
    float: left;
    max-width: 100px;
    display: none;
}

main{

}

@media screen and (min-width:768px) and (max-width:2560px) {
    body{
        background-color:lightpink;
    }
    header{
        display: flex;
        flex-wrap: wrap;
    }
    header > a{
        display: block;
        max-width: 100%;
        width: 100%;
    }
    header > a > img{
        display: block;
        width: 50%;
        margin:auto;
    }
    header > nav{
        width:100%;
        max-width: 100%;
        display: block;
    }
    header nav ul{
        padding-left:0;
        margin-left:0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    header nav li{
        list-style-type: none;
        min-width: 10%;
        text-align: center;
    }
   
    header > nav li > a{
        text-decoration: none;
        font-size: 1.4em;
    }
    
    
}